.yandex-map-container {
	height: 740px !important;
	min-height: 770px !important;
	padding: 10px 20px 20px 10px !important	
}

.mobile-only { display: none }

@media (max-width: 767px) {
	.yandex-map-container {
		height: 540px !important;
		min-height: 570px !important;	
		padding: 10px !important
	}
	.mobile-only { display: block }
}