a {
    color: #333;
    text-decoration: none;
}

.App {
	margin: 0 auto;
	max-width: 1200px;
}

.page-content {	
	padding: 0 15px 15px;
}

.page-content.agencies {
    padding-right: 20px;
}

.load-block {
	width: 100%;	
	margin-top: 100px;
    padding-left: 20px;
}
.load-block img {
	display: block;
	margin: 0 auto;
}

.pagination {
    display: inline-block;    
}
.pagination.up {
    margin-top: 30px;
}
.pagination.down {
    margin-bottom: 10px;
}
.pagination a,
.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color .2s;
    cursor: pointer;
    background-color: #eee;
}
.pagination .current {
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover:not(.current),
.pagination span:hover:not(.current) {
    background-color: #ddd;
}


.objects-wrapper {
    padding: 20px 0;
}
.objects-wrapper span.object {
    display: inline-block;
	position: relative;
	margin: 5px;
	padding: 0;
    background: #ececec;
    height: 210px;
    transition: all 0.2s;
    width: 32%;
    cursor: pointer;
}
.objects-wrapper span.object:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
span.object div.object-header {
    margin: 10px 0;
    text-align: center;
    font-size: 12px;    
    font-weight: bold;
}
span.object div.object-footer {
	position: absolute;
    font-size: 12px;
    bottom: 10px;
    padding-left: 20px;
    line-height: 1.4;
}
span.object > .image-wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 10px 0 0;
    width: 100%;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}
.image-wrapper > img {
    display: block;
    margin: auto auto;
    max-height: 100px;
}

.load-more {
    margin: 0 0 30px 5px;
}




.drawer-left {
	position: relative;
}
.drawer-left a {
	text-decoration: none;
	color: #666;
	font-weight: 300;
	font-size: 14px;
}
.drawer-left .drawer-header {
	padding: 0 16px;
}
.drawer-left .drawer-button {
	position: relative;
	left: 200px;
    top: -55px;
}


.drawer-right {
}
.drawer-right .drawer-header {
	padding: 0 16px;
    margin-bottom: 0;
}
.drawer-right .drawer-button {
	position: relative;
	left: 200px;
    top: -35px;
}
.drawer-right .drawer-button-confirm {
    position: relative;    
    top: 10px;
}
.drawer-right .drawer-block {
    font-size: 13px;
	padding: 10px 16px;
    border-top: 1px solid #eee;
}
.drawer-right .drawer-block.text-center {
    text-align: center;
}
.drawer-right .radio-inline {
    display: inline-block !important;
    width: auto !important;    
}
.drawer-right .radio-inline:last-child {
    margin-left: 40px;
}

.contact-block {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 0 20px 10px 20px;
    font-size: 90%;
}
.contact-block .info {
    width: 100%;
    text-align: left;
}
.contact-block .info-header {
    font-size: 18px;
}
.contact-block .info-notes {
    font-size: 13px;
}
.contact-block .checkbox-152-fz {
    text-align: left;
    margin-top: 40px;
}
.contact-block .checkbox-152-fz label {
    font-size: 11px;
    line-height: 1 !important;
}

.drawer-header-title {
    display: none;
    position: relative;
    top: -50px;
    padding: 0 16px;
    font-size: 12px;
    font-weight: 700;
}


.cost-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;    
}
.without-sum label {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.1 !important;
    color: #999 !important;
}

.rc-slider-handle {
    width: 22px;
    height: 22px;
    margin-left: -11px;
    margin-top: -9px;
}

.image-full {
    max-height: 600px;
}

.image-thumb {
    max-height: 60px;
}

div.ReactModal__Overlay {
    z-index: 2000 !important;
}


.big-drawer-left {
    display: none;
    position: fixed;
    float: left;
    margin-top: 15px;
    padding: 0 10px;
    width: 200px;
}

.big-drawer-left .drawer-block {
    font-size: 12px;
    padding: 10px 0;
    border-top: 1px solid #eee;
}
.big-drawer-left .radio-inline {
    display: inline-block !important;
    width: auto !important;    
}
.big-drawer-left .radio-inline:last-child {
    margin-left: 20px;
}

.big-drawer-right {
    display: none;
    float: right;
    margin-top: 15px;    
    width: 140px;
}

.big-drawer-right > .btn {
    margin-bottom: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    div.appbar > button,
    .search-button,
    .drawer-left,
    .drawer-right {
        display: none !important;
    }

    .big-drawer-left,
    .big-drawer-right {
        display: block;
    }

    .page-content {
        margin-left: 220px;
        margin-right: 140px;
        padding: 0;
    }

    .page-content.agencies,
    .page-content.contact,
    .page-content.view {
        margin-left: 20px;
    }

    .objects-wrapper {
        padding-top: 10px;
    }
}

@media (max-width: 767px) {
    .appbar h1 { display: none }

    .drawer-header-title {
        display: block;
    }

    .objects-wrapper span.object {
        width: 100%;
        margin: 10px 0;
    }

    .contact-block {
        margin: 0 auto;
        width: calc(100% - 20px);
        padding: 0;
    }

}

@media (min-width: 768px) and (max-width: 915px) {
    .objects-wrapper span.object { width: 47% }

    span.object div.object-footer {
        padding-left: 10px;
    }
}

@media (min-width: 916px) and (max-width: 1199px) {
    .objects-wrapper span.object { width: 48% }
}

@media (max-width: 1199px) {
    .big-drawer-right > .btn {
        width: 90%;
    }
}