.App {
	margin: 0 auto;
	max-width: 1200px;
}

.page-content {	
	padding: 0 15px 15px;
}

.load-block {
	width: 100%;	
	margin-top: 100px;
}
.load-block img {
	display: block;
	margin: 0 auto;
}

.pagination {
    display: inline-block;    
}
.pagination.up {
    margin-top: 30px;
}
.pagination.down {
    margin-bottom: 10px;
}
.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color .2s;
    cursor: pointer;
    background-color: #eee;
}
.pagination span.current {
    background-color: #4CAF50;
    color: white;
}
.pagination span:hover:not(.current) {
    background-color: #ddd;
}


.objects-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
        
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    padding: 20px 0;
}
.objects-wrapper span.object {
    display: inline-block;
	position: relative;
	margin: 10px 20px 10px 0;
	padding: 10px;
    background: #ececec;
    height: 180px;
    transition: all 0.2s;
    width: 250px;
    cursor: pointer;
}
.objects-wrapper span.object:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
span.object div.object-header {
    margin: 10px 0;
    text-align: center;
    font-size: 12px;    
    font-weight: bold;
}
span.object div.object-footer {
	position: absolute;
    font-size: 12px;
    bottom: 10px;
    padding-left: 20px;
}
span.object > img {
    display: block;
    margin: 10px auto;
    max-height: 100px;
}



.drawer-left {
	position: relative;
}
.drawer-left a {
	text-decoration: none;
	color: #666;
	font-weight: 300;
	font-size: 14px;
}
.drawer-left .drawer-header {
	padding: 0 16px;
}
.drawer-left .drawer-button {
	position: relative;
	left: 200px;
    top: -55px;
}


.drawer-right {
}
.drawer-right .drawer-header {
	padding: 0 16px;
    margin-bottom: 0;
}
.drawer-right .drawer-button {
	position: relative;
	left: 200px;
    top: -35px;
}
.drawer-right .drawer-button-confirm {
    position: relative;    
    top: 10px;
}
.drawer-right .drawer-block {
    font-size: 13px;
	padding: 10px 16px;
    border-top: 1px solid #eee;
}
.drawer-right .drawer-block.text-center {
    text-align: center;
}
.drawer-right .radio-inline {
    display: inline-block !important;
    width: auto !important;    
}
.drawer-right .radio-inline:last-child {
    margin-left: 40px;
}

.contact-block {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    padding: 0 20px 10px 20px;
}
.contact-block .info {
    width: 100%;
    text-align: left;
}
.contact-block .info-header {
    font-size: 18px;
}
.contact-block .info-notes {
    font-size: 13px;
}
.contact-block .checkbox-152-fz {
    text-align: left;
    margin-top: 40px;
}
.contact-block .checkbox-152-fz label {
    font-size: 11px;
    line-height: 1 !important;
}


@media (max-width: 767px) {
	.appbar h1 { display: none }

    .objects-wrapper span.object {
        width: calc(100% - 20px);
        margin: 10px 0;
    }

    span.object div.object-footer {
        padding-left: 10px;
    }

    .contact-block {
        margin: 0 auto;
        width: calc(100% - 20px);
        padding: 0;
    }

}

@media (min-width: 768px) and (max-width: 1199px) {
    .objects-wrapper span.object { width: 205px }
}

.cost-header {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;    
}
.without-sum label {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.1 !important;
    color: #999 !important;
}

.rc-slider-handle {
    width: 22px;
    height: 22px;
    margin-left: -11px;
    margin-top: -9px;
}